In [1]:
import numpy as np
import pandas as pd

In [2]:
animaux = pd.read_csv(r'C:\Users\elodi\Downloads\FAO_2013_fr\fr_animaux.csv')
vegetaux = pd.read_csv(r"C:\Users\elodi\Downloads\FAO_2013_fr\fr_vegetaux.csv")
population = pd.read_csv(r"C:\Users\elodi\Downloads\FAO_2013_fr\fr_population.csv")
cereales = pd.read_csv(r"C:\Users\elodi\Downloads\FAO_2013_fr\fr_ce╠üre╠üales.csv")
sous_alimentation = pd.read_csv(r"C:\Users\elodi\Downloads\FAO_2013_fr\fr_sousalimentation.csv")

#### Question 1 : 
Créez un dataframe contenant les informations de population de chaque pays. Calculez le nombre total d’humains sur la planète. Critiquez votre résultat. En cas d’anomalie, analysez et effectuer les corrections nécessaires. 

Donnez le résultat de votre calcul pour l'année 2013.

In [3]:
### Sélection des colonnes pertinantes pour calcul population totale et renommer les colonnes
population_mondiale = population[['Code zone', 'Zone', 'Unité', 'Année' ,'Valeur']]
population_mondiale = population_mondiale.rename(columns={'Code zone': 'code_pays', 'Zone': 'pays','Année': 'année', 'Valeur': 'population'})

In [4]:
# Modifier l'unité de la colonne population pour convertir de milliers de personnes en million 
population_mondiale['population'] *= 1000
population_mondiale['population'].sum()

8413993000

In [5]:
# On remarque que le chiffre est plus élevé qu'attendu (environ 1,3 milliards de personnes en plus)
# Affichage des 20 pays les plus peuplés, on constate que la Chine est présente plusieur fois
population_mondiale.sort_values('population', ascending=False)[:20]

,code_pays,pays,Unité,année,population
33,351,Chine,1000 personnes,2013,1416667000
36,41,"Chine, continentale",1000 personnes,2013,1385567000
75,100,Inde,1000 personnes,2013,1252140000
55,231,États-Unis d'Amérique,1000 personnes,2013,320051000
76,101,Indonésie,1000 personnes,2013,249866000
24,21,Brésil,1000 personnes,2013,200362000
123,165,Pakistan,1000 personnes,2013,182143000
116,159,Nigéria,1000 personnes,2013,173615000
14,16,Bangladesh,1000 personnes,2013,156595000
57,185,Fédération de Russie,1000 personnes,2013,142834000
84,110,Japon,1000 personnes,2013,127144000
107,138,Mexique,1000 personnes,2013,122332000
128,171,Philippines,1000 personnes,2013,98394000
56,238,Éthiopie,1000 personnes,2013,94101000
171,237,Viet Nam,1000 personnes,2013,91680000
4,79,Allemagne,1000 personnes,2013,82727000
48,59,Égypte,1000 personnes,2013,82056000
77,102,Iran (République islamique d'),1000 personnes,2013,77447000
166,223,Turquie,1000 personnes,2013,74933000
160,216,Thaïlande,1000 personnes,2013,67011000

In [6]:
# Supprimer la ligne de la Chine (code pays 351) car total deja calculé dans code pays 96, 128, 41 et 214 (qui comprend la Chine et ses territoires semi-indépendants (Hong kong, Macao, Taïwan))
population_totale = population_mondiale[population_mondiale['code_pays'] != 351]

df_population = population_totale['population'].sum()
print('La poulation mondiale en 2013 est de : {0:,}'.format(df_population))

La poulation mondiale en 2013 est de : 6,997,326,000

#### Question 2 : 
Parmi les documents sur les Bilans alimentaires que vous avez téléchargés, il y a des informations redondantes. En effet, pour un pays donné, certaines de ces informations peuvent se calculer à partir d'autres :
- Production 
- Importations
- Exportations 
- Variation de stock 
- Disponibilité intérieure 
- Semences 
- Pertes 
- Nourriture, aussi appelée Disponibilité alimentaire 
- Aliments pour animaux 
- Traitement
- Autres utilisations

### 
Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique. C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France.

In [7]:
ble_france = cereales.rename(columns={'Code zone': 'code_pays', 'Zone': 'pays', 'Élément': 'type', 'Code Produit': 'code_produit', 'Produit': 'produit', 'Unité': 'unité', 'Valeur': 'valeur'})
ble_france = ble_france[(ble_france.pays == 'France') & (ble_france.code_produit == 2511)]
ble_france.head()

,Code Domaine,Domaine,code_pays,pays,Code Élément,type,code_produit,produit,Code année,Année,unité,valeur,Symbole,Description du Symbole
307,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614,S,Données standardisées

In [8]:
veg_ble_fr = vegetaux[['Code zone', 'Zone', 'Élément', 'Code Produit', 'Produit', 'Unité', 'Valeur']]
veg_ble_fr = veg_ble_fr.rename(columns={'Code zone': 'code_pays', 'Zone': 'pays', 'Élément': 'type', 'Code Produit': 'code_produit', 'Produit': 'produit', 'Unité': 'unité', 'Valeur': 'valeur'})
veg_ble_fr = veg_ble_fr[(veg_ble_fr.pays == 'France') & (veg_ble_fr.code_produit == 2511)]
veg_ble_fr.head(15)

,code_pays,pays,type,code_produit,produit,unité,valeur
37487,68,France,Production,2511,Blé,Milliers de tonnes,38614.00
37488,68,France,Importations - Quantité,2511,Blé,Milliers de tonnes,2055.00
37489,68,France,Variation de stock,2511,Blé,Milliers de tonnes,1131.00
37490,68,France,Exportations - Quantité,2511,Blé,Milliers de tonnes,21502.00
37491,68,France,Disponibilité intérieure,2511,Blé,Milliers de tonnes,20298.00
37492,68,France,Aliments pour animaux,2511,Blé,Milliers de tonnes,7822.00
37493,68,France,Semences,2511,Blé,Milliers de tonnes,748.00
37494,68,France,Pertes,2511,Blé,Milliers de tonnes,358.00
37495,68,France,Traitement,2511,Blé,Milliers de tonnes,1575.00
37496,68,France,Autres utilisations (non alimentaire),2511,Blé,Milliers de tonnes,2824.00
37497,68,France,Nourriture,2511,Blé,Milliers de tonnes,6971.00
37498,68,France,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,kg,108.43
37499,68,France,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,Kcal/personne/jour,811.00
37500,68,France,Disponibilité de protéines en quantité (g/pers...,2511,Blé,g/personne/jour,25.99
37501,68,France,Disponibilité de matière grasse en quantité (g...,2511,Blé,g/personne/jour,4.20

##### La disponibilité intérieure du blé en France est de 20 298 milliers de tonnes 
Il semblerait que la disponibilité intérieure se calcule de la façon suivante : disponibilité intérieure = (production + importation + variation de stock) − exportation

In [9]:
disponibilite_interieure_ble = (38614 + 2055.00 + 1131.00) - 21502.00
print(disponibilite_interieure_ble)

20298.0

### 
Mais peut aussi se calculer de la façon suivante : disponibilité intérieure = (nourriture + aliments pour animaux + semences + pertes + traitement + autres utilisations (non alimentaire))

In [10]:
disponibilite_interieure_ble_2 = 6971.00 + 7822.00 + 748.00 + 358.00 + 1575.00 + 2824.00
print(disponibilite_interieure_ble_2)

20298.0

#### On arrive donc à la formule suivante 
Disponibilité intérieure = (nourriture + aliments pour animaux + semences + pertes + traitement + autres utilisations (non alimentaire) = (production + importation + variation de stock) − exportation

#### Question 3 : 
Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.
Vous ferez cela à partir de ces informations :
- Population de chaque pays ;
- Disponibilité alimentaire donnée pour chaque produit et pour chaque pays en kcal/personne/jour ;
- Disponibilité alimentaire en protéines donnée pour chaque produit et pour chaque pays en g/personne/jour.

In [11]:
# Suppression de la chine, ajout d'une colonne pour identifier les produits d'origine végétale et animale 
# Concat des Dataframes animaux et vegetaux
vegetaux = vegetaux[vegetaux['Code zone'] != 351]
animaux = animaux[animaux['Code zone'] != 351]
vegetaux['type'] = 'vegetale'
animaux['type'] = 'animal'
df_animaux_vegetaux = pd.concat([vegetaux, animaux])

In [12]:
# Pivot en gardant les colonnes Zone, Code zone, Produit, type. 
# Pivot sur Élément
df_animaux_vegetaux = df_animaux_vegetaux.pivot_table(index=['Zone','Code zone','Produit', 'type'], values='Valeur', columns='Élément')
df_animaux_vegetaux = df_animaux_vegetaux.rename_axis(None, axis=1)
df_animaux_vegetaux.reset_index(inplace=True)
df_animaux_vegetaux = df_animaux_vegetaux.rename(columns={'Zone': 'pays', 'Code zone': 'code_pays'})

In [13]:
# Conversion des colonnes exprimés en millier de tonnes en kg
col = ['Autres utilisations (non alimentaire)', 'Aliments pour animaux', 'Disponibilité intérieure', 'Exportations - Quantité', 'Importations - Quantité', 'Nourriture', 'Pertes', 'Production', 'Semences', 'Traitement', 'Variation de stock']

for var_col in col:
    df_animaux_vegetaux[var_col] *= 1000000
df_animaux_vegetaux.head()

,pays,code_pays,Produit,type,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,2,Abats Comestible,animal,NaN,NaN,5.0,1.72,0.20,0.77,53000000.0,NaN,NaN,53000000.0,NaN,53000000.0,NaN,NaN,NaN
1,Afghanistan,2,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41000000.0,2000000.0,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN
2,Afghanistan,2,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2000000.0,NaN,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82000000.0,NaN,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN

In [14]:
# Merge avec Dataframe population et calcul de la disponibilité alimentaire en kcal et kg de protéine
df_animaux_vegetaux = pd.merge(df_animaux_vegetaux, population_totale[['pays','population']], on='pays', how='inner')
df_animaux_vegetaux['dispo_alim_kcal'] = df_animaux_vegetaux["Disponibilité alimentaire (Kcal/personne/jour)"] * df_animaux_vegetaux["population"] * 365
df_animaux_vegetaux['dispo_alim_kg_prot'] = df_animaux_vegetaux["Disponibilité de protéines en quantité (g/personne/jour)"] *0.001 * df_animaux_vegetaux["population"] * 365
df_animaux_vegetaux.head()

,pays,code_pays,Produit,type,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,population,dispo_alim_kcal,dispo_alim_kg_prot
0,Afghanistan,2,Abats Comestible,animal,NaN,NaN,5.0,1.72,0.20,0.77,...,NaN,53000000.0,NaN,53000000.0,NaN,NaN,NaN,30552000,5.575740e+10,8586639.6
1,Afghanistan,2,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,...,40000000.0,39000000.0,2000000.0,3000000.0,NaN,NaN,NaN,30552000,1.115148e+10,223029.6
2,Afghanistan,2,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,...,2000000.0,2000000.0,NaN,NaN,NaN,NaN,NaN,30552000,1.115148e+10,334544.4
3,Afghanistan,2,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,30552000,0.000000e+00,NaN
4,Afghanistan,2,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,...,82000000.0,82000000.0,NaN,NaN,NaN,NaN,NaN,30552000,4.460592e+10,557574.0

#### Question 4 : 
A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.

##### Indication : La disponibilité alimentaire en kcal/personne/jour est calculée par la FAO en multipliant la quantité Nouriture (Food) par le ratio énergie/poids (en kcal/kg), puis en le divisant par la population du pays puis par 365. Ici, on vous demande juste de retrouver le ratio énergie/poids que la FAO a utilisé dans son calcul.

In [15]:
df_ratio = df_animaux_vegetaux[['pays', 'Produit','dispo_alim_kcal', 'dispo_alim_kg_prot','Nourriture']].copy()
df_ratio.replace(0, np.nan, inplace=True)
df_ratio['ratio_kcal_kg'] = df_ratio['dispo_alim_kcal'] / df_ratio['Nourriture'] 
df_ratio['ratio_proteines_poids'] = df_ratio['dispo_alim_kg_prot'] / df_ratio['Nourriture']
df_ratio = df_ratio[['Produit','ratio_kcal_kg','ratio_proteines_poids']].groupby('Produit').mean()
df_ratio.reset_index(inplace=True)
df_ratio.head()

                  Produit  ratio_kcal_kg  ratio_proteines_poids
0        Abats Comestible    1129.258163               0.175610
1         Agrumes, Autres     248.981045               0.004426
2  Alcool, non Comestible            NaN                    NaN
3   Aliments pour enfants    3690.832338               0.148832
4                  Ananas     439.413583               0.003079

In [16]:
# Vérification du calcul à partir de la valeur calorique d'un oeuf
# La valeur calorique d'un oeuf est d'environ 1 430 (kcal/kg)
valeur_calorique_oeuf = df_ratio[(df_ratio['Produit'] == 'Oeufs')]['ratio_kcal_kg'].mean()
print('{:.2f}'.format(valeur_calorique_oeuf))

1345.30

In [17]:
# Teneur en protéines de l'avoine
prot_avoine = df_ratio[(df_ratio['Produit'] == 'Avoine')]['ratio_proteines_poids'].mean()
print('{:.2f}'.format(prot_avoine))

0.08

#### Question 5 : 
Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [18]:
top_20_aliments_caloriques = df_ratio.sort_values('ratio_proteines_poids', ascending=False).iloc[:20]
top_20_aliments_caloriques

                     Produit  ratio_kcal_kg  ratio_proteines_poids
27    Graines Colza/Moutarde    4150.299049               0.285365
81                      Soja    3287.966903               0.285331
6     Arachides Decortiquees    5702.900100               0.251466
70                      Pois    3475.044111               0.223244
50       Légumineuses Autres    3416.965957               0.219716
31                  Haricots    3395.683518               0.215452
0           Abats Comestible    1129.258163               0.175610
87                    Sésame    5796.120413               0.175040
95             Viande, Autre    1295.626878               0.174024
69  Plantes Oleiferes, Autre    4350.089305               0.170544
3      Aliments pour enfants    3690.832338               0.148832
92          Viande de Bovins    1679.369244               0.143780
16              Cephalopodes     842.188316               0.139904
90    Viande d'Ovins/Caprins    1992.254594               0.135803
94       Viande de Volailles    1301.310330               0.126209
67                   Piments    3339.741547               0.121003
73       Poissons Pelagiques     933.443661               0.119346
29      Graines de tournesol    3207.652850               0.111823
72   Poissons Marins, Autres     776.077214               0.110133
97            Épices, Autres    3489.897394               0.107418

In [19]:
top_5_aliments_caloriques = top_20_aliments_caloriques.sort_values(['ratio_proteines_poids'], ascending=False).iloc[:5]
top_5_aliments_caloriques

                   Produit  ratio_kcal_kg  ratio_proteines_poids
27  Graines Colza/Moutarde    4150.299049               0.285365
81                    Soja    3287.966903               0.285331
6   Arachides Decortiquees    5702.900100               0.251466
70                    Pois    3475.044111               0.223244
50     Légumineuses Autres    3416.965957               0.219716

#### Question 6 : 
Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [20]:
dispo_interieur_vegan = df_animaux_vegetaux[df_animaux_vegetaux['type'].isin(['vegetale'])]
dispo_interieur_vegan = pd.merge(dispo_interieur_vegan, df_ratio, on=['Produit'], how='left')

#Calcul du ratio kcal/kg (disponibilité intérieure)
dispo_interieur_vegan['dispo_interieure_kcal'] = dispo_interieur_vegan['Disponibilité intérieure'] * dispo_interieur_vegan['ratio_kcal_kg']

dispo_interieur_vegan_kcal = dispo_interieur_vegan['dispo_interieure_kcal'].sum()
print('La disponibilité totale en kcal des vegetaux au niveau mondiale est de : {:.2f}'.format(dispo_interieur_vegan_kcal))

La disponibilité totale en kcal des vegetaux au niveau mondiale est de : 13764013420014768.00

#### Question 7 : 
Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

#####  Calories
- On suppose qu'un humain consomme 2400 kcal/jour
- Nombre et pourcentage d'habitants qui pourraient être nourris

In [21]:
hab_feed_kcal = dispo_interieur_vegan_kcal / (2400 * 365)
print("{0:,}".format(hab_feed_kcal))
print(hab_feed_kcal/population_totale['population'].sum() * 100, '%')

15,712,344,086.774849
224.54783565571833 %

##### Proteines
- On suppose qu'un humain consomme 56 grammes de protéine par jour
- Nombre et pourcentage d'habitants qui pourraient être nourris

In [22]:
# Calcul de la disponibilité intérieure totale en protéines
dispo_interieur_vegan['dispo_interieure_prot'] = dispo_interieur_vegan['Disponibilité intérieure'] * dispo_interieur_vegan['ratio_proteines_poids']
dispo_interieur_vegan_prot = dispo_interieur_vegan['dispo_interieure_prot'].sum()

In [23]:
hab_feed_prot = dispo_interieur_vegan_prot / (0.056 * 365)
print("{0:,}".format(hab_feed_prot))
print(hab_feed_prot/population_totale['population'].sum() * 100, '%')

17,066,762,672.37266
243.90406667307855 %

#### Question 8 : 
Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale

In [24]:
df_vegetaux = df_animaux_vegetaux[df_animaux_vegetaux['type'].isin(['vegetale'])]
df_vegetaux = df_vegetaux[['code_pays','pays', 'Produit', 'Pertes', 'Aliments pour animaux', 'Nourriture']]
df_vegetaux = df_vegetaux.fillna(0)
df_vegetaux['total_pertes_alimanimaux_nourriture'] = df_vegetaux['Pertes'] + df_vegetaux['Aliments pour animaux'] + df_vegetaux['Nourriture']
df_vegetaux.head()

,code_pays,pays,Produit,Pertes,Aliments pour animaux,Nourriture,total_pertes_alimanimaux_nourriture
1,2,Afghanistan,"Agrumes, Autres",2000000.0,0.0,39000000.0,41000000.0
2,2,Afghanistan,Aliments pour enfants,0.0,0.0,2000000.0,2000000.0
3,2,Afghanistan,Ananas,0.0,0.0,0.0,0.0
4,2,Afghanistan,Bananes,0.0,0.0,82000000.0,82000000.0
6,2,Afghanistan,Bière,0.0,0.0,3000000.0,3000000.0

In [25]:
df_vegetaux = pd.merge(df_vegetaux, df_ratio, on=['Produit'], how='left')
df_vegetaux['kcal'] = df_vegetaux['total_pertes_alimanimaux_nourriture'] * df_vegetaux['ratio_kcal_kg']
df_vegetaux['prot'] = df_vegetaux['total_pertes_alimanimaux_nourriture'] * df_vegetaux['ratio_proteines_poids']

In [26]:
total_food_kcal = df_vegetaux['kcal'].sum()
total_food_prot = df_vegetaux['prot'].sum()

#####  Calories
- On suppose qu'un humain consomme 2400 kcal/jour
- Nombre et pourcentage d'habitants qui pourraient être nourris

In [27]:
total_hab_feed_kcal = total_food_kcal / (2400 * 365)
print("{0:,}".format(total_hab_feed_kcal))
print(total_hab_feed_kcal/population_totale['population'].sum() * 100, '%')

10,847,928,065.585587
155.02962225263747 %

##### Proteines
- On suppose qu'un humain consomme 56 grammes de protéine par jour
- Nombre et pourcentage d'habitants qui pourraient être nourris

In [28]:
total_hab_feed_prot = total_food_prot / (0.056 * 365)
print("{0:,}".format(total_hab_feed_prot))
print(total_hab_feed_prot/population_totale['population'].sum() * 100, '%')

10,480,084,826.644602
149.7727106989813 %

#### Question 9 : 
Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

##### 1. Calories

In [29]:
human_feed_kcal = df_animaux_vegetaux['dispo_alim_kcal'].sum()
total_human_feed_kcal = human_feed_kcal / (2400 * 365)
print("{0:,}".format(total_human_feed_kcal))
print(total_human_feed_kcal/population_totale['population'].sum() * 100, '%')

8,406,259,612.083333
120.13531471998493 %

##### 2. Proteines

In [30]:
human_feed_prot = df_animaux_vegetaux['dispo_alim_kg_prot'].sum()
total_human_feed_prot = human_feed_prot / (0.056 * 365)
print("{0:,}".format(total_human_feed_prot))
print(total_human_feed_prot/population_totale['population'].sum() * 100, '%')

10,139,881,608.392857
144.91080747692558 %

#### Question 10 : 
A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [31]:
df_sous_alim = sous_alimentation[['Code zone', 'Zone', 'Produit', 'Année', 'Unité', 'Valeur']]
df_sous_alim = df_sous_alim.rename(columns={'Code zone': 'code_pays', 'Zone': 'pays', 'Produit': 'type', 'Année': 'année', 'Valeur': 'valeur'})

In [32]:
# Pour le calcul, je prends en compte l'année 2012-2014 
df_sous_alim = df_sous_alim[(df_sous_alim.année == '2012-2014')]
df_sous_alim = df_sous_alim.fillna(0)
df_sous_alim = df_sous_alim[df_sous_alim['code_pays'] != 351]
# Conversion des valeurs <0.1 en float pour calcul final
df_sous_alim.loc[df_sous_alim['valeur'] == '<0.1', ['valeur']] = 0.1
df_sous_alim['valeur'] = df_sous_alim['valeur'].astype(float).copy()

In [33]:
sous_alimentation_total = df_sous_alim['valeur'].sum()
sous_alimentation_total *= 1000000
pourcentage_sous_alimentation = sous_alimentation_total / population_totale['population'].sum()
print("Proportion totale de la population en sous nutrition : {:.2f} %".format(pourcentage_sous_alimentation * 100))

Proportion totale de la population en sous nutrition : 10.66 %

#### Question 11 : 
En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

Établissez la liste des produits (ainsi que leur code) considéré comme des céréales selon la FAO.
Repérez dans vos données les informations concernant les céréales (par exemple en créant une colonne de type booléen nommée "is_cereal").

In [34]:
df_cereales = cereales[["Code Produit","Produit",]].drop_duplicates(subset=["Code Produit","Produit"])
vegetaux_cereale = vegetaux[['Code zone', 'Zone', 'Élément', 'Code Produit', 'Produit', 'Unité', 'Valeur']]
vegetaux_cereale['is_cereal'] = vegetaux_cereale['Produit'].isin(list(df_cereales['Produit']))
q11_cereales = vegetaux_cereale[vegetaux_cereale['is_cereal']]
cereales_pour_nourriture = q11_cereales[(q11_cereales.Élément == 'Aliments pour animaux')| 
                    (q11_cereales.Élément == 'Nourriture')]
cereales_pour_nourriture.head()

<ipython-input-34-8ef3d781d3ad>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegetaux_cereale['is_cereal'] = vegetaux_cereale['Produit'].isin(list(df_cereales['Produit']))

,Code zone,Zone,Élément,Code Produit,Produit,Unité,Valeur,is_cereal
6,2,Afghanistan,Nourriture,2511,Blé,Milliers de tonnes,4895.0,True
16,2,Afghanistan,Nourriture,2805,Riz (Eq Blanchi),Milliers de tonnes,422.0,True
25,2,Afghanistan,Aliments pour animaux,2513,Orge,Milliers de tonnes,360.0,True
28,2,Afghanistan,Nourriture,2513,Orge,Milliers de tonnes,89.0,True
37,2,Afghanistan,Aliments pour animaux,2514,Maïs,Milliers de tonnes,200.0,True

In [35]:
cereales_pour_animaux = cereales_pour_nourriture[(cereales_pour_nourriture.Élément== 'Aliments pour animaux')]
total_cereales_pour_animaux = cereales_pour_animaux['Valeur'].sum()

In [36]:
cereales_nourriture = cereales_pour_nourriture[(cereales_pour_nourriture.Élément== 'Nourriture')]
total_cereales_nourriture = cereales_nourriture['Valeur'].sum()

In [37]:
total_animaux_nourriture = total_cereales_nourriture + total_cereales_pour_animaux
pourcentage_pour_animaux = (total_cereales_pour_animaux/total_animaux_nourriture )
print("Proportion totale de la nourriture animale dans la nourriture (céréales uniquement) : {:.2f} %".format((pourcentage_pour_animaux) * 100))

Proportion totale de la nourriture animale dans la nourriture (céréales uniquement) : 45.91 %

#### Question 12 : 
Sélectionnez parmi les données des bilans alimentaires les informations relatives aux pays dans lesquels la FAO recense des personnes en sous-nutrition.

Repérez les 15 produits les plus exportés par ce groupe de pays.

Parmi les données des bilans alimentaires au niveau mondial, sélectionnez les 200 plus grandes importations de ces produits (1 importation = une quantité d'un produit donné importée par un pays donné)

Groupez ces importations par produit, afin d'avoir une table contenant 1 ligne pour chacun des 15 produits. Ensuite, calculez pour chaque produit les 2 quantités suivantes :

le ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.
le ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

Question: Donnez les 3 produits qui on t la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

##### 
Liste des 15 produits les plus exportés par les pays sous-alimenté

In [38]:
pays_sous_alim = df_sous_alim.loc[df_sous_alim['valeur'] > 0, "pays"].unique()

q_12_export = df_animaux_vegetaux.loc[df_animaux_vegetaux['pays'].isin(pays_sous_alim), :]
q_12_export = q_12_export.groupby('Produit').sum().reset_index()
q_12_export = q_12_export.sort_values('Exportations - Quantité', ascending=False)[:15]

pays_sous_alim = q_12_export['Produit']
pays_sous_alim

39         Huile de Palme
52                   Maïs
51                 Manioc
79       Riz (Eq Blanchi)
83          Sucre Eq Brut
12                    Blé
49        Légumes, Autres
8                 Bananes
48     Lait - Excl Beurre
25         Fruits, Autres
81                   Soja
73    Poissons Pelagiques
89                Tomates
75                 Pommes
61    Oranges, Mandarines
Name: Produit, dtype: object

##### 
Produits les plus importés par les pays sous_alimenté

In [39]:
q_12_import = df_animaux_vegetaux.loc[df_animaux_vegetaux['Produit'].isin(pays_sous_alim), :]
q_12_import = q_12_import.sort_values('Importations - Quantité', ascending=False)[:200]
q_12_import = q_12_import[['Produit','Nourriture','Aliments pour animaux','Autres utilisations (non alimentaire)','Disponibilité intérieure']]

most_imported = q_12_import.groupby('Produit').sum()

most_imported['autres_dispo_int'] = most_imported['Autres utilisations (non alimentaire)']/most_imported['Disponibilité intérieure']
most_imported['alim_ani_food'] = most_imported['Aliments pour animaux']/(most_imported['Aliments pour animaux']+most_imported['Nourriture'])

most_imported

,Nourriture,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,autres_dispo_int,alim_ani_food
Produit,,,,,,
Bananes,7.123000e+09,0.000000e+00,0.000000e+00,7.466000e+09,0.000000,0.000000
Blé,3.007710e+11,9.810300e+10,1.504700e+10,4.564750e+11,0.032963,0.245950
"Fruits, Autres",6.696200e+10,0.000000e+00,0.000000e+00,7.285100e+10,0.000000,0.000000
Huile de Palme,6.833000e+09,0.000000e+00,1.856800e+10,2.561800e+10,0.724803,0.000000
Lait - Excl Beurre,3.003430e+11,2.721100e+10,1.233700e+10,3.426330e+11,0.036006,0.083073
"Légumes, Autres",7.571100e+10,3.980000e+09,0.000000e+00,8.710100e+10,0.000000,0.049943
Manioc,1.525700e+10,2.514900e+10,2.035500e+10,6.732600e+10,0.302335,0.622408
Maïs,5.591800e+10,4.028850e+11,1.821170e+11,7.010680e+11,0.259771,0.878122
"Oranges, Mandarines",1.919200e+10,0.000000e+00,1.000000e+06,1.953400e+10,0.000051,0.000000
Poissons Pelagiques,3.937000e+09,1.215600e+10,0.000000e+00,1.609400e+10,0.000000,0.755359
Pommes,1.455700e+10,0.000000e+00,0.000000e+00,1.559200e+10,0.000000,0.000000
Riz (Eq Blanchi),1.228320e+11,1.264400e+10,2.804000e+09,1.502340e+11,0.018664,0.093330
Soja,7.510000e+09,1.371000e+10,5.240000e+08,1.595700e+11,0.003284,0.646089
Sucre Eq Brut,6.497100e+10,0.000000e+00,2.996000e+09,7.845300e+10,0.038188,0.000000
Tomates,2.025200e+10,0.000000e+00,0.000000e+00,2.127700e+10,0.000000,0.000000

### 
Ratio entre la quantité destinés aux "Autres utilisations" (Other uses) et la disponibilité intérieure.

In [40]:
most_imported.sort_values('autres_dispo_int', ascending=False)[:3]

,Nourriture,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,autres_dispo_int,alim_ani_food
Produit,,,,,,
Huile de Palme,6.833000e+09,0.000000e+00,1.856800e+10,2.561800e+10,0.724803,0.000000
Manioc,1.525700e+10,2.514900e+10,2.035500e+10,6.732600e+10,0.302335,0.622408
Maïs,5.591800e+10,4.028850e+11,1.821170e+11,7.010680e+11,0.259771,0.878122

### 
Ratio entre la quantité destinée à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

In [41]:
most_imported.sort_values('alim_ani_food', ascending=False)[:3]

,Nourriture,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,autres_dispo_int,alim_ani_food
Produit,,,,,,
Maïs,5.591800e+10,4.028850e+11,1.821170e+11,7.010680e+11,0.259771,0.878122
Poissons Pelagiques,3.937000e+09,1.215600e+10,0.000000e+00,1.609400e+10,0.000000,0.755359
Soja,7.510000e+09,1.371000e+10,5.240000e+08,1.595700e+11,0.003284,0.646089

#### Question 13 : 
Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [42]:
usa_cereales = q11_cereales[q11_cereales.Zone == 'États-Unis d\'Amérique']
usa_cereales_pour_ani = usa_cereales[usa_cereales.Élément == 'Aliments pour animaux']
usa_cereales_pour_animaux = usa_cereales_pour_ani['Valeur'].sum() * 1000

In [43]:
print("La quantité totale de nourriture utilisée pour l'alimentation animale aux États-Unis est de {0:,} tonnes".format(usa_cereales_pour_animaux))
print("Les USA libéreraient {0:,} tonnnes de cereales en diminuant leur production de produits destinés aux animaux de 10%".format(usa_cereales_pour_animaux*0.1))

La quantité totale de nourriture utilisée pour l'alimentation animale aux États-Unis est de 140,096,000.0 tonnes
Les USA libéreraient 14,009,600.0 tonnnes de cereales en diminuant leur production de produits destinés aux animaux de 10%

#### Question 14 : 
En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

##### 1. Exportation manioc

In [44]:
exportation_manioc = df_animaux_vegetaux[(df_animaux_vegetaux['pays'] == 'Thaïlande') & (df_animaux_vegetaux['Produit'] == 'Manioc')]
exportation_manioc['total_export'] = exportation_manioc["Exportations - Quantité"] / exportation_manioc['Production']
thailande_manioc_export = exportation_manioc['total_export'].sum()
print('La Thaïlande exporte {:.2f}% de manioc'.format(thailande_manioc_export*100))

La Thaïlande exporte 83.41% de manioc

<ipython-input-44-bad364f0bbbe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exportation_manioc['total_export'] = exportation_manioc["Exportations - Quantité"] / exportation_manioc['Production']

##### 2. Proportion de personnes en sous-nutrition

In [45]:
hab_sous_nutrition_thailande = df_sous_alim[df_sous_alim.pays == 'Thaïlande']
hab_sous_nutrition_thailande = hab_sous_nutrition_thailande[['valeur']]
hab_sous_nutrition_thailande['valeur'] *= 1000000

In [46]:
population_thailande = population_totale[population_totale.pays == 'Thaïlande']
population_thailande = population_thailande['population'].sum()

In [47]:
sous_nutrition_totale_thailande = hab_sous_nutrition_thailande['valeur'].sum() / population_thailande
print(('La proportion de personnes en Thaïlande qui souffrent de problèmes de sous-nutrition est de {:.2f}%'.format(sous_nutrition_totale_thailande * 100)))

La proportion de personnes en Thaïlande qui souffrent de problèmes de sous-nutrition est de 8.36%